<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button type="submit">Register</button>
  </form>
</div>
