header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: whitesmoke;
  border-bottom: 1px solid #8e24aa;

  position: fixed;
  top: 0;
  left: 0;
  width: 72%;
  z-index: 1000;
  margin-left: 410px;

}

.header-center span{
  margin-right: 300px;
  color: #8e24aa;
}




.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}


.header-left {
  flex: 1;
}

.logo-icon {
  font-size: 30px;
  color: #000;
  margin-right: 8px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.header-center {
  flex: 2;
  justify-content: center;
}

.for-you-text {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.header-right {
  flex: 1;
  justify-content: flex-end;
}

.search-container {
  position: relative;
}

.search-container input {
  width: 250px;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.search-container input::placeholder {
  color: #aaa;
}

.search-container input:focus {
  outline: none;
  border-color: #007bff;
}

.search-button {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.search-button i {
  color: #888;
  font-size: 18px;
}

.search-button i:hover {
  color: #007bff;
}
