<div  class="post-container">
  <div class="user-data"><img src="user-1.jpg" alt="image not loaded">
    <p class="name">Jan Nowak</p>
    <p class="unique-name">&#64;Jan123</p>
    <p class="date"> 20.04.2024</p>
  </div>
  <div class="post-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    <div class="interactions">
      <i class="fa fa-comment">5</i>
      <i class="fa fa-reply">10</i>
      <i class="fa fa-heart">20</i>
    </div>
  </div>
  <div class="publish-comment">
    <img src="user-1.jpg" alt="image not loaded">
    <textarea placeholder="Co się dzieję ?!"></textarea>
    <i class="fas fa-camera icon"></i>
    <i class="fas fa-smile"></i>
    <button>Opublikuj</button>
  </div>



<div class="comments-section"></div>

    <div class="comment">
    <div class="user-data"><img src="user-1.jpg" alt="image not loaded">
      <p class="name">Jan Nowak</p>
      <p class="unique-name">&#64;Jan123</p>
      <p class="date"> 20.04.2024</p>
    </div>
    <div class="post-text">
         lfdsnugnjfggfdgfddgjfsghnjfkjlrnnnnnnnnnnnn
      <div class="interactions">
        <i class="fa fa-comment">5</i>
        <i class="fa fa-reply">10</i>
        <i class="fa fa-heart">40</i>

    </div>
  </div>















</div>



</div>
