

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 772px;
  background-color: black;
  margin-left: 350px;
  border-radius: 10PX;
}


 .icon-container {
   display: flex;
   align-items: center;
   margin: 10px 0;
   font-size: 18px;
   color: #1DA1F2;
 }

icon-container i {
  font-size: 24px;
  margin-right: 8px;
}

icon-container:hover {
  color: #0d8fce;
}


/*.header{*/
/*display: none;*/
/*}*/
/*.left-sidebar{*/
/*  display: none;*/
/*}*/
/*.right-sidebar{*/
/*  display: none;*/
/*}*/

.hide {
  display: none;
}


