.left-sidebar{
  width: 400px;
  height: 100vh;
  border-right: 1px solid #aaaaaa;
  background-color: whitesmoke;


  position: fixed;

}
ul{
  font-size: 25px;

}

a{
  color: white;
  text-decoration: none;
}
span{

  color: white;
}

img{
  height: 50px;
  width: 50px;

}
