<div  class="left-sidebar">
  <ul class="nav-links">
    <li><img src="tlo.jpeg" alt="img not loaded"></li>

    <li><a href=""><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/profile/kamiloses"><i class="fas fa-user"></i> Profile</a></li>
    <li><a href="/notifications"><i class="fas fa-bell"></i> Notifications</a></li>
    <Li><button (click)="logout()">logout</button></Li>
  </ul>





  <div class="username-section">
    <img src="https://via.placeholder.com/50" alt="Avatar">
    <span >{{getUsername}}</span>

  </div>
</div>
