<div  class="left-sidebar">
<ul class="nav-links">
  <li><img src="X-logo.png" alt="img not loaded"></li>
  <li><a href="#"><i class="fas fa-home"></i>Główna</a></li>
  <li><a href="#"><i class="fa fa-search"></i>Przeglądaj</a></li>
  <li><a href="#"><i class="fas fa-bell"></i> Powiadomienia</a></li>
  <li><a href="#"><i class="fas fa-envelope"></i>Wiadomości</a></li>
  <li><a href="#"><i class="fas fa-user"></i>Profil</a></li>

  <li><button>Opublikuj wpis</button></li>








</ul>
  <div>
<span>Kamiloses</span>

  </div>
</div>
