<div class="right-sidebar">
  <div class="suggested-following">
    <span>Warci obserwowania</span>
    <div class="firstUser">
      <img src="user-1.jpg" alt="not loaded">
      <span>Adam Wabnic</span>
      <button>Add</button>
    </div>
    <img src="user-2.jpg" alt="not loaded">
    <span>Jan Nowak</span>
    <button>Add</button>

  <div>
    <img src="user-3.jpg" alt="not loaded">
    <span>Maciej Kowalski</span>
    <button>Add</button>
  </div>
  </div>
  <div>
    <span>
      Najpopularniejsze w Polska</span>




  </div>

</div>
