.right-sidebar {
  background-color: whitesmoke;
  width: 270px;
  height: 100vh;
  margin-top: -1px;
  border-left: 1px solid #ddd;
  margin-right: 300px;
}

.friendsList {
  margin-top: 60px;
}

.friend-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
}

.friend-container:hover {
  background-color: #e9ecef;
}

.friend-avatar {
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
}

.friend-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.friend-info {
  display: flex;
  flex-direction: column;
}

.friend-name {
  font-weight: bold;
  font-size: 16px;
  color: #495057;
}

.friend-status {
  font-size: 14px;
  color: #868e96;
}

.status-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #28a745;
  border: 1px solid #fff;
  border-radius: 50%;
}

.status-icon.online {
  background-color: #28a745;
}

.status-icon.offline {
  background-color: #dc3545;
}

.friend-chat-window {
  position: fixed;
  width: 270px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;


}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #9c77cc;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-header .close-chat {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.chat-content {
  padding: 10px;
  background-color: #f8f9fa;
  min-height: 100px;

}
.message {
  padding-bottom: 8px;

}


.message img{
  border-radius: 50%;
  height: 35px;

}

















.send-message {
  display: flex;
  gap: 10px;
  position:absolute;
  bottom: 10px;
  right: 10px;

}

.send-message input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.send-message button {
  padding: 8px 16px;
  background-color: #9c77cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0;
}

.send-message button:hover {
  background-color: #9c77ea;
}
.logout {
  background-color: #8e24aa;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


