

<div class="post-container">
  <div class="user-data"><img src="user-1.jpg" alt="image not loaded">
  <p class="name">Jan Nowak</p>
    <p class="unique-name">&#64;Jan123</p>
    <p class="date"> 20.04.2024</p>
  </div>
  <div class="post-text">
   {{postDetails.content}}
    <div class="interactions">
      <i class="fa fa-comment">{{postDetails.commentsCount}}</i>
      <i class="fa fa-reply">{{postDetails.retweetCount}}</i>
      <i class="fa fa-heart">{{postDetails.likeCount}}</i>


    </div>
  </div>
</div>
