



.post-container{
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  border-bottom:  #8e24aa solid 1px;
}

.user-data{
  display: flex;
}
p{
  margin-top: 20px;
  margin-left: 15px;

}
img{
  margin-top: 15px;
  margin-left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50px;

}
.name{
  font-weight: bold;
  color: #8e24aa;
}
.unique-name,.date{
  color: #8e24aa;
  font-size: 0.9em;
  margin-left: 10px;

}

.post-text {
  color: #8e24aa;
  line-height: 1.5;
  margin-top: -10px;
  display: inline-block;
}


i{
  margin-left: 155px;
}

.post-container:hover{
  cursor: pointer;

}
