<div class="user-data">
  <img src="tlo.jpeg" class="background-image" alt="img not loaded">
  <img src="user-1.jpg" class="overlay-image" alt="img not loaded">
  <div class="info">
    <div class="profile-actions">
      <ul>
        <li>
          <button>Add to friend</button>
        </li>
        <li>
          <button>Block</button>
        </li>
        <li>
          <button>Turn on notifications</button>
        </li>
      </ul>
    </div>
    <div class="name">
      <p>Jan Nowak </p>
      <p>&#64;janNowak</p>
    </div>
    <div>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
</span>

    </div>
    <div class="follows">
      <p>351 obserwowanych</p>
      <p>2000 Obserwujących</p>
    </div>
  </div>

  <div class="user-posts">

  </div>
</div>
